body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#errorPrinter {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%; /* Изменение ширины на 50% от ширины экрана */
    max-width: 640px; /* Максимальная ширина */
    height: 10%; /* Изменение высоты на 10% от высоты экрана */
    max-height: 100px; /* Максимальная высота */
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    font-size: 2vw; /* Изменение размера шрифта относительно ширины экрана */
    color: #fff;
    z-index: 9;
}

#retryButton {
    font-size: 2vw; /* Изменение размера шрифта относительно ширины экрана */
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    margin: 2%; /* Изменение отступа относительно ширины экрана */
    padding: 1%; /* Изменение отступа относительно ширины экрана */
}

#fpsCounterBox {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 4%; /* Изменение ширины на 4% от ширины экрана */
    height: 2%; /* Изменение высоты на 2% от высоты экрана */
    background: #222;
    opacity: 0.8;
    z-index: 8;
}

#fpsCounterLabel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1% 2%; /* Изменение отступа относительно ширины экрана */
    height: 1.5%; /* Изменение высоты на 1.5% от высоты экрана */
    line-height: 1.5vw; /* Изменение высоты строки относительно ширины экрана */
    font-size: 0.6vw; /* Изменение размера шрифта относительно ширины экрана */
    font-family: rmmz-numberfont, sans-serif;
    color: #fff;
    text-align: left;
}

#fpsCounterNumber {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 2%;
    height: 1.5%;
    line-height: 1.5vw;
    font-size: 1.2vw; /* Изменение размера шрифта относительно ширины экрана */
    font-family: rmmz-numberfont, monospace;
    color: #fff;
    text-align: right;
}

#loadingSpinner {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%; /* Изменение ширины на 10% от ширины экрана */
    height: 10%; /* Изменение высоты на 10% от высоты экрана */
    z-index: 10;
}

#loadingSpinnerImage {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 8%; /* Изменение ширины на 8% от ширины экрана */
    height: 8%; /* Изменение высоты на 8% от высоты экрана */
    border: 1% solid rgba(255, 255, 255, 0.25); /* Изменение толщины границы относительно ширины экрана */
    border-top: 1% solid rgba(255, 255, 255, 1);
    animation: fadein 2s ease, spin 1.5s linear infinite;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
